<div class="card">
    <img class="card-img-top" src="/assets/asidePhoto.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Libro del mes</h5>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe ipsa quam at, nulla provident vero quod quas 
            optio fugit dicta doloremquei</p>
        <a href="https://resumiendolo.com/c-autoayuda-y-motivacion/el-plan-de-tu-alma/" target="_blank"  class="btn btn-primary">Reseña</a>
    </div>
</div>

