.footer{
    background-color: rgb(32, 34, 38);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 1em 0;
}

.footer p{
    color: #fff;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}